<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AgriSense Crop Disease Detection</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>🌱 AgriSense Crop Disease Detection</h1>

    <p>Upload a crop leaf image to identify the disease.</p>

    <form id="predictionForm"
          action="/predict"
          method="POST"
          enctype="multipart/form-data">

        <input
            type="file"
            id="fileInput"
            name="file"
            accept=".jpg,.jpeg,.png"
            required>

        <p id="fileName"
           style="margin-top:15px;color:white;font-weight:600;">

            No image selected

        </p>

        <br>

        <img
            id="previewImage"
            src=""
            alt="Image Preview"
            style="
                display:none;
                width:280px;
                border-radius:15px;
                border:4px solid white;
                margin:auto;
                margin-bottom:20px;
                box-shadow:0 10px 25px rgba(0,0,0,.25);
            ">

        <br>

        <button
            type="button"
            id="removeImage"
            style="display:none;margin-bottom:15px;">

            Remove Image

        </button>

        <button
            id="predictButton"
            type="submit">

            Predict Disease

        </button>

        <div
            id="loadingContainer"
            style="display:none;margin-top:25px;">

            <div class="loader"></div>

            <p
                style="margin-top:15px;
                       color:white;
                       font-weight:bold;">

                🔍 Analyzing Image...

            </p>

        </div>

    </form>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>